@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
font-family: 'Oswald', sans-serif;
}


.img-container img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
}
.linear-grad {
  background: linear-gradient(180deg, #424248 9.85%, #252525 47.46%, #303031 82.43%);
}
.icon-grad{
background: linear-gradient(180deg, #C1328C 0%, #FA8E22 100%);
}

.icon-gradient {
  background: linear-gradient(180deg, #C1328C 0%, #FA8E22 100%);
}


/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
