

.box:after {
  content: " ";
  border-bottom: 20vh solid #424248;
  border-right: 100vw solid transparent;
  width: 0;
  position: absolute;
  bottom: 0;
}


.wave {
 


  animation: wave 15s infinite linear;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}
