
.box:after {
    content: " ";
    border-bottom: 30vh solid #434344;
    border-left: 50vw solid transparent;
    width: 0;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  

  .box2:after {
    content: " "; 
    border-bottom: 10vh solid #424248;
    border-right: 100vw solid transparent;
    width: 0;
    position: absolute;
    bottom: -2px;
  }