

.box:after {
    content: " ";
    border-left: 50vw solid transparent;
  border-right: 50vw solid transparent;
  border-top: 16vw solid #303031;
;
    width: 0;
    position: absolute;
    bottom: 0px;
  }
  
  
  
 