.box{
    margin-top: 150px;
}
.box:after {
    content: " ";
    border-bottom: 10vh solid #424248;
    border-left: 100vw solid transparent;
    width: 0;
    position: absolute;
    bottom: -150px;
  }